//output:../bording.html

doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="format-detection" content="telephone=no")
    title Little Gems

    meta(name="description" content="Welcome to Little Gems Doggy Day Care Croft Leicester Leicestershire providing home from home doggy day care and home boarding")
    meta(name="keywords" content="Little Gems, doggy day care, Croft, Leicester, Leicestershire, puppy day care, home boarding, no kennels")

    link(href='css/main.css', rel='stylesheet')
    script(src="js/jquery-3.1.1.js")
    script(src="js/base.js")
    script(src="js/photo.js")

  body
    include ../header.html

    section.body
      img.logo(src="img/little-gems.png")

      section.content

        section.bording-text
          h1 Boarding at Little Gems
          h3 Your dog will live with us in our home as part of our family. Absolutely NO KENNELS!
          p It is important that your dog knows us and our regular dogs. So ideally we only accept dogs that have at least one day fixed per week at our Day Care.
          p If you require boarding and are not a regular, subject to spaces, your dog must have at least one day per week at Day Care - one month prior to their stay with us. This will make sure that your dog is comfortable with us and gets to know our other regular dogs in our Day Care. This will be charged as per day care rates.
          p If there are any aggression problems, unfortunately, we will not be able to have them board.


        section.prices
          .line
            h1.caps Prices For Bording
          .line
            h2 £20 per 24 hours&nbsp
            p (over 5 months old)
          .line
            h2 £25 per 24 hours&nbsp
            p (11 weeks old - 5 months old)

      include ../footer.html
