//output:../footer.html
footer 
  div We are fully licenced and insured
    br
    |We can only accept well socialised and friendly dogs.
  
  .green For further information contact: Helen on 07805 547940 or email helen1230@me.com
