//output:../header.html
header
  .header-container
    img(src="/img/dog-paw.svg")
    div
      ul
        li
          a(href="index.html") Home
        li 
          a(href="about.html") About
        li
          a(href="daycare.html") Daycare
        li 
          a(href="bording.html") Boarding
        li 
          a(href="contact.html") Contact
    
    .nav-toggle
      span
      span
      span
    
      
      
      
