//output:../header.html
header
  .header-container
    img(src="/img/dog-paw.svg")
    div
      ul
        li
          a(href="#0") Home
        li 
          a(href="#0") About
        li
          a(href="#0") Daycare
        li 
          a(href="#0") Boarding
        li 
          a(href="#0") Contact
    
    .nav-toggle
      span
      span
      span
    
      
      
      
