//output:../index.html

doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="format-detection" content="telephone=no")
    title Little Gems

    meta(name="description" content="Welcome to Little Gems Doggy Day Care Croft Leicester Leicestershire providing home from home doggy day care and home boarding")
    meta(name="keywords" content="Little Gems, doggy day care, Croft, Leicester, Leicestershire, puppy day care, home boarding, no kennels")

    link(href='/css/main.css', rel='stylesheet')
    script(src="/js/jquery-3.1.1.js")
    script(src="/js/base.js")
    script(src="/js/photo.js")
    
  body 
    include ../header.html
    
    section.body
      img.logo(src="/img/little-gems.png")

      section.welcome
        h1 Welcome to Little Gems Doggy Day Care
        p Little Gems Doggy Day Care provides home from home day care for puppies and dogs. Opening hours are from 7:30am till 6pm, Monday to Friday. We are fully licenced and insured. All dogs must be fully vaccinated, neutered/spayed and be well socialised and friendly.

        img.display-pic(src="/img/picture1.gif")
        
      section.opening
        h1 
          span.caps Opening Hours 
          |7:30am - 6:00pm 
          br
          |Monday to Friday
        
      section.info
        .box
          h2 Location
          h3 Croft Leicester
          h3 
            span.caps Tel
            |: 07805 547940 
          h3 
            span.caps Email
            |: helen1230@me.com
        .box
          h2 Day Care Prices
          h3 £14 PER DAY 
            span.smaller (age 5 months onwards)
          h3 £20 PER DAY FOR PUPPIES
          h3.smaller (Puppies age from 11 weeks old to 5 months)
          h3.smaller Puppy price includes toilet training and basic training - sit, down, stay, leave etc and walking on the lead.
        .box
          h2 Home Boarding
          h3 Enjoy your holiday and leave your dog safely with us.
          .button.caps Read More
      
      section.photo-container 
        .photo-action-container.prev
          div
            a <
        img(src="/img/picture1.gif")
        .photo-action-container.next
          div
            a >
        
      include ../footer.html
