body
  background-color: $bg-light-green



.caps
  text-transform: uppercase

.underline
  text-decoration: underline

.smaller
  font-size: 0.8rem


section.body
  //width: 100%
  //padding: 0px 10px

  > *
    color: $dark-green
  img.logo
    width: 100%
    padding-top: 10px

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)



/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
