.addH
  height: 100px
  content: ""

body
  background-color: $bg-light-green

.caps
  text-transform: uppercase

.underline
  text-decoration: underline

.smaller
  font-size: 0.8rem

.hide-md
  display: block

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
  .hide-md
    display: none


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
  body
    background-color: $bg-light-green
    display: flex

  .hide-md
    display: block
